* {
    background-color: #c594ec;
    color: #6c12a8;
    font: Arial;
}

div {
    display: inline-block;
    position: relative;
    margin-right:20px;
}

img:hover {
    height:200px;
}

.height {
    height:200px;
}

#midtext {
    font-size: 20px;
    width:50%;
    padding-right:20px;
    padding-left: 20px;
    padding-botton:100px;
    height:50px;
    margin:auto;
}

article header {
    display: block;
    position: relative;
    left:1%
    width: 200px;
    border-top: 4px solid #e8ec94;
    border-right: 2px solid #e8ec94;
    border-left: 2px solid #e8ec94;
    border-radius: 10px;
    font-size:20px;
    height: 75px;
    margin: 5px;
    padding-bottom: 50px;
}

footer {
    display: inline-block;
    text-align: center;
    align: center;
}

h2 {
    margin:75px;
}

table {
	border: #6c12a8 4px solid;
	background-color: #acd1b2;
	float: top;
	margin-top: -100px;
	border-radius: 10px;
    position: fixed;
    left:25%;
    font-size: 1.5em;
    z-index:1;
    text-align: center;
    width: 50%;
    border-collapse:collapse;
}
